<ion-tabs>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='E'" tabIcon = "contact" tabTitle={{mensajesPagina.cuenta}} [rootParams]="album" [root]="tab1" ></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='I'" tabIcon = "contact" tabTitle={{mensajesPagina.cuentaIng}} [rootParams]="album" [root]="tab1" ></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='E'" tabIcon = "football" tabTitle={{mensajesPagina.secciones}} [rootParams]="album" [root]="tab2" ></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='I'" tabIcon = "football" tabTitle={{mensajesPagina.seccionesIng}} [rootParams]="album" [root]="tab2" ></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='E'" tabIcon = "images" tabTitle={{mensajesPagina.repetidas}} [rootParams]="album" [root]="tab3"></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='I'" tabIcon = "images" tabTitle={{mensajesPagina.repetidasIng}} [rootParams]="album" [root]="tab3"></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='E'" tabIcon = "sad" tabTitle={{mensajesPagina.faltantes}} [rootParams]="album" [root]="tab4"></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='I'" tabIcon = "sad" tabTitle={{mensajesPagina.faltantesIng}} [rootParams]="album" [root]="tab4"></ion-tab>
</ion-tabs>
