<ion-tabs color="dark">
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='E'" tabIcon = "contact" color="naranja" tabTitle={{mensajesPagina.cuenta}} [rootParams]="album" [root]="tab1" ></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='I'" tabIcon = "contact" color="naranja" tabTitle={{mensajesPagina.cuentaIng}} [rootParams]="album" [root]="tab1" ></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='E'" tabIcon = "football" color="azulOscuro" tabTitle={{mensajesPagina.secciones}} [rootParams]="album" [root]="tab2" ></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='I'" tabIcon = "football" color="azulOscuro" tabTitle={{mensajesPagina.seccionesIng}} [rootParams]="album" [root]="tab2" ></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='E'" tabIcon = "images" color="rojo" tabTitle={{mensajesPagina.repetidas}} [rootParams]="album" [root]="tab3"></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='I'" tabIcon = "images" color="rojo" tabTitle={{mensajesPagina.repetidasIng}} [rootParams]="album" [root]="tab3"></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='E'" tabIcon = "sad" color="aguaMarina" tabTitle={{mensajesPagina.faltantes}} [rootParams]="album" [root]="tab4"></ion-tab>
  <ion-tab *ngIf="_ajustes.ajustes.idioma=='I'" tabIcon = "sad" color="aguaMarina" tabTitle={{mensajesPagina.faltantesIng}} [rootParams]="album" [root]="tab4"></ion-tab>
</ion-tabs>
