<ion-header>
  <ion-navbar color="naranja">
    <ion-title *ngIf="_ajustes.ajustes.idioma=='E'">
      {{mensajesPagina.titulo}}
    </ion-title>
    <ion-title *ngIf="_ajustes.ajustes.idioma=='I'">
      {{mensajesPagina.tituloIng}}
    </ion-title>
    <ion-buttons>
      <button ion-button
              icon-only
              menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
 <ion-list>
   <ion-item *ngFor="let seccion  of secciones"
     (click)="irStickers(seccion)">
     <ion-avatar item-start>
      <img [src]="seccion.imagenSeccion | imagen:''">
    </ion-avatar>
    <h2 *ngIf="_ajustes.ajustes.idioma=='E'">{{seccion.nombreSeccion}}</h2>
    <h2 *ngIf="_ajustes.ajustes.idioma=='I'">{{seccion.nombreSeleccionIngles}}</h2>
    <ion-icon name="search" color="aguaMarina" item-right></ion-icon>
   </ion-item>

 </ion-list>
</ion-content>
