// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
.card-background-page2 {

  ion-card {
    position: relative;
    text-align: center;
  }

  .profilebutton {
    z-index: 2;
    position: absolute;
    right: 5%;
    top: 5%;
    margin: auto;
    background-color: #B40404;
    font-weight: bold;
    color: #fff;
  }
  .card-title {
    position: absolute;
    top: 80%;
    left: 5%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: azulOscuro;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 70%;
    width: 100%;
    color: azulOscuro;
  }
}
.procentaje-numero{
  z-index: 2;
  position: absolute;
  right: 5%;
  top: 5%;
  margin: auto;
  background-color: #B40404;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.tipoLetra{
  font-weight: azulOscuro;
  font-size: 20px;

}

.item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white;
  position: relative;
  bottom: 1px;

}

.bottom {
    position: absolute;
    bottom: 5%;
    width: 90%;

}


.top {
    position: absolute;
    top: 10%;
    width: 90%;

}

.fondo{
background-image: url('../../../assets/banderas/appCover.jpg') ;
background-repeat: no-repeat ;
background-size: cover ;
background-position: center ;
width: 100% ;
position: relative ;
border: none ;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  aguaMarina: #09C2C0,
  naranja: #E29415,
  rojo: #F03C0C,
  azulOscuro: #202D78
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
