<ion-menu [content]="content" >
  <ion-header >
    <ion-toolbar color="rojo">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button *ngIf="_ajustes.ajustes.idioma=='E'" ion-item (click)="openPage('album',album)"><ion-icon name="home"></ion-icon>
        Inicio
      </button>
      <button *ngIf="_ajustes.ajustes.idioma=='I'" ion-item (click)="openPage('album',album)"><ion-icon name="home"></ion-icon>
        Home
      </button>
      <button *ngIf="_ajustes.ajustes.idioma=='E'" ion-item (click)="openPage('intercambios',intercambios)"><ion-icon name="repeat"></ion-icon>
        Intercambios
      </button>
      <button *ngIf="_ajustes.ajustes.idioma=='I'" ion-item (click)="openPage('intercambios',intercambios)"><ion-icon name="repeat"></ion-icon>
        Exchanges
      </button>
      

    </ion-list>
  </ion-content>
</ion-menu>


<ion-nav [root]="rootPage" #content></ion-nav>
