<!--
  Generated template for the CuentaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="naranja">
    <ion-title *ngIf="_ajustes.ajustes.idioma=='E'">{{mensajesPagina.titulo}}</ion-title>
    <ion-title *ngIf="_ajustes.ajustes.idioma=='I'">{{mensajesPagina.tituloIng}}</ion-title>

    <ion-buttons>
      <button ion-button
              color="azulOscuro"
              icon-only
              menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondo2">
<ion-avatar item-start>
    <ion-badge color="danger" class="procentaje-numero">{{_usuario.usuario.porcentajeLlenado}} %</ion-badge>
    <img *ngIf="_usuario.usuario.porcentajeLlenado==100" src="assets/banderas/trofeoIcon.png">
    <img *ngIf="_usuario.usuario.porcentajeLlenado>=80 && _usuario.usuario.porcentajeLlenado<=99" src="assets/banderas/goldIcon.png">
    <img *ngIf="_usuario.usuario.porcentajeLlenado>=60 && _usuario.usuario.porcentajeLlenado<=79" src="assets/banderas/silverIcon.png">
    <img *ngIf="_usuario.usuario.porcentajeLlenado>=0 && _usuario.usuario.porcentajeLlenado<=59" src="assets/banderas/bronzeIcon.png">
</ion-avatar>
  <ion-card color="aguaMarina">
    <ion-card-header *ngIf="_ajustes.ajustes.idioma=='E'">
    {{mensajesPagina.informacionPersonal}}
    </ion-card-header>
    <ion-card-header *ngIf="_ajustes.ajustes.idioma=='I'">
    {{mensajesPagina.informacionPersonalIng}}
    </ion-card-header>
      <ion-item>
        <ion-icon name="contact" color="primary" item-start large></ion-icon>
        <h2 *ngIf="_ajustes.ajustes.idioma=='E'" color="dark">{{mensajesPagina.nombre}}: </h2>
        <h2 *ngIf="_ajustes.ajustes.idioma=='I'" color="dark">{{mensajesPagina.nombreIng}}: </h2>
        <p>{{_usuario.usuario.nombreUsuario}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" color="rojo" item-start large></ion-icon>
        <h2>Email: </h2>
        <p>{{_usuario.usuario.correoUsuario}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="call" color="azulOscuro" item-start large></ion-icon>
        <h2 *ngIf="_ajustes.ajustes.idioma=='E'">{{mensajesPagina.celular}}: </h2>
        <h2 *ngIf="_ajustes.ajustes.idioma=='I'">{{mensajesPagina.celularIng}}: </h2>
        <p>{{_usuario.usuario.celular}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="football" item-start large></ion-icon>
        <p *ngIf="_ajustes.ajustes.idioma=='E'">{{mensajesPagina.laminasRegistradas}}: {{_usuario.usuario.laminasRegistradas}} de 670</p>
        <p *ngIf="_ajustes.ajustes.idioma=='I'">{{mensajesPagina.laminasRegistradasIng}}: {{_usuario.usuario.laminasRegistradas}} of 670</p>
    </ion-item>
    <ion-item>
      <ion-icon name="sad" color="naranja" item-start large></ion-icon>
        <p *ngIf="_ajustes.ajustes.idioma=='E'">{{mensajesPagina.laminasFaltantes}}: {{_usuario.usuario.laminasFaltantes}} de 670</p>
        <p *ngIf="_ajustes.ajustes.idioma=='I'">{{mensajesPagina.laminasFaltantesIng}}: {{_usuario.usuario.laminasFaltantes}} of 670</p>
    </ion-item>
    <ion-item>
      <ion-icon name="images" color="secondary" item-start large></ion-icon>
        <p *ngIf="_ajustes.ajustes.idioma=='E'">{{mensajesPagina.laminasRepetidas}}: {{_usuario.usuario.laminasRepetidas}}</p>
        <p *ngIf="_ajustes.ajustes.idioma=='I'">{{mensajesPagina.laminasRepetidasIng}}: {{_usuario.usuario.laminasRepetidas}}</p>

    </ion-item>

  </ion-card>

</ion-content>
